<section class="bg-white shadow-md rounded px-4 pt-6 pb-8">
  <form-section-title title="Signos Vitales" />
  <div class="grid grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
    <form-input label="Frecuencia cardíaca" secondaryLabel="Min" id="" />
    <form-input label="Frecuencia respiratoría" secondaryLabel="Min" id="" />
    <form-input label="Temperatura" secondaryLabel="C" id="" />

    <form-input label="Presión sistólica" secondaryLabel="mmHg" id="" />
    <form-input label="Presión diastólica" secondaryLabel="mmHg" id="" />
    <form-input label="Presión arterial media" secondaryLabel="mmHg" id="" />

    <form-input label="Talla" secondaryLabel="m" id="" />
    <form-input label="Peso" secondaryLabel="Kg" id="" />
    <form-input label="Índice de masa corporal" secondaryLabel="Kg/m2" id="" />

    <form-input label="Superficie de masa corporal" secondaryLabel="m2" id="" />
  </div>
</section>
