<app-top-bar />
<main class="h-full w-full pt-14">
  <section class="bg-red-50 mx-auto md:w-[80%] lg:w-[80%]">
    <p-table
      [value]="appointments()"
      [loading]="appointmentsLoading()"
      stripedRows
      [paginator]="true"
      [rows]="5"
      [scrollable]="true"
      scrollHeight="400px"
      [tableStyle]="{ 'min-width': '50rem' }"
      styleClass="table-background"
      class="bg-gray-200"
    >
      <ng-template #header>
        <tr>
          <th>Cita No.</th>
          <th>Fecha de la cita</th>
          <th>Paciente</th>
          <th>Servicio</th>
          <th>Atender</th>
        </tr>
      </ng-template>
      <ng-template #body let-appointment>
        <tr>
          <td>{{ appointment.IdCita }}</td>
          <td>{{ appointment.FechaCita }}</td>
          <td>{{ appointment.Paciente }}</td>
          <td>{{ appointment.Servicio }}</td>
          <td>
            <button
              pButton
              pRipple
              type="button"
              size="small"
              text
              [routerLink]="`clinical-record/${appointment.IdPaciente}`"
              (click)="savePatientData(appointment)"
            >
              <i class="pi pi-arrow-up-right"></i>
            </button>
          </td>
        </tr>
      </ng-template>
      <ng-template #loadingBodyTemplate>
        <tr>
          <td colspan="5" class="text-center">
            <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
            <p>Cargando datos...</p>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </section>
</main>
