@import "tailwindcss";
@plugin "tailwindcss-primeui";
@import "primeicons/primeicons.css";

* {
  font-family: sans-serif;
}

body {
  background-color: #e9eefe;
}

.card-gradient {
  background: #d3ddfd;
  background: linear-gradient(
    to right,
    #d3ddfd42,
    #fefefe
  );
}
